<div class="header">
  <button
    #btnAdd
    type="submit"
    (click)="
      add(inputNewUser?.value, inputNewUser?.value);
      inputNewUser?.style.display = 'block'
    "
  >
    {{ textBtn }}
  </button>
  <input id="inputNewUser" style="display: none;" type="text" #inputNewUser />
</div>

<table class="table table-hover table-striped">
  <thead>
    <th>User</th>
  </thead>

  <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{ user.username }}</td>
      <td>
        <button class="btn btn-info" (click)="edit(user, inputEditUser?.value)">
          {{ editBtn }}
        </button>
        <input
          id="inputEditUser"
          style="display: none;"
          type="text"
          #inputEditUser
        />
        <button class="btn btn-danger m1-2" (click)="delete(user.key)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
