<div class="header">
  <button
    #btnAdd
    type="submit"
    (click)="add(inputNewUser?.value, inputNewUser?.value)"
  >
    {{ textBtn }}
  </button>
  <input id="inputNewUser" style="display: none;" type="text" #inputNewUser />
</div>

<table class="table table-hover table-striped">
  <thead>
    <th>User</th>
  </thead>

  <tbody>
    <tr *ngFor="let user of uservice?.users | async">
      <td>{{ user.username }}</td>
      <td>
        <button class="btn btn-info" (click)="edit(user, inputEditUser?.value)">
          Edit
        </button>

        <button class="btn btn-danger m1-2" (click)="delete(user)">
          Delete
        </button>

        <input
          [id]="'inputEditUser_' + user.key"
          style="display: none;"
          type="text"
          #inputEditUser
        />
      </td>
    </tr>
  </tbody>
</table>
